/* колір виділення #2196F3 */
/* колір заголовків #212121 */
/* колір основ тексту #757575 */
/* колір текст білий  #FFFFFF; */
/* колір вторічний  rgba(255, 255, 255, 0.6) */

:root {
  --blue-color: #2196f3;
  --black-color: #212121;
  --white-color: #ffffff;
}

body {
  color: #757575;
}

/* header */

.link,
.logo {
  color: var(--black-color);
  text-decoration: none;
}

.logo-item {
  color: var(--blue-color);
}

.link.now:active,
.link:hover,
.link:focus {
  color: var(--blue-color);
}

/* hero */

.hero-title {
  color: var(--white-color);
  background-color: var(--black-color);
}

.button {
  color: var(--white-color);
  background-color: var(--blue-color);
}

/* main */

.section-title {
  color: var(--black-color);
}
