/* колір виділення #2196F3 */
/* колір заголовків #212121 */
/* колір основ тексту #757575 */
/* колір текст білий  #FFFFFF; */
/* колір другорядний текст  rgba(255, 255, 255, 0.6) */

:root {
  --blue-color: #2196f3;
  --black-color: #212121;
  --white-color: #ffffff;
  --secondary-color: rgba(255, 255, 255, 0.6);
}

body {
  color: #757575;
  font-family: 'Roboto', sans-serif;
}
/* index */
/* header */

.link,
.logo {
  color: var(--black-color);
  text-decoration: none;
}

.logo-item {
  color: var(--blue-color);
}

.link.now,
.link:hover,
.link:focus {
  color: var(--blue-color);
}

/* hero */

.hero-title {
  color: var(--white-color);
  background-color: var(--black-color);
}

.button {
  color: var(--white-color);
  background-color: var(--blue-color);
}

/* main */

.section-title {
  color: var(--black-color);
}

/* footer */

.address {
  background-color: #2f303a;
}

.address-studio {
  color: var(--white-color);
}

.address-linc {
  color: var(--secondary-color);
}

/* portfolio */
